@model Proyecto3MVC.Models.ViewModels.IntegranteIdeaDeNegocioViewModel
@{
    ViewBag.Title = "Agregar Integrante";
}

<h1>Nuevo integrante:</h1>
<h2>Formulario para agregar Integrante</h2>

@using (Html.BeginForm("BtnAgregarIntegrante", "Proyecto", FormMethod.Post))
{
    @Html.HiddenFor(i => i.Codigo)
    @Html.AntiForgeryToken()

    @Html.ValidationMessage("Error", new { @class = "text-danger" })

    @Html.LabelFor(i => i.Id)
    @Html.TextBoxFor(i => i.Id, new { @class = "form-control" })
    @Html.ValidationMessage("Id", new { @class = "text-danger" })
    <br>

    @Html.LabelFor(i => i.Nombre)
    @Html.TextBoxFor(i => i.Nombre, new { @class = "form-control" })
    @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
    <br>
    @Html.LabelFor(i => i.Apellidos)
    @Html.TextBoxFor(i => i.Apellidos, new { @class = "form-control" })
    @Html.ValidationMessage("Apellidos", new { @class = "text-danger" })
    <br>
    @Html.LabelFor(i => i.Rol)
    @Html.TextBoxFor(i => i.Rol, new { @class = "form-control" })
    @Html.ValidationMessage("Rol", new { @class = "text-danger" })
    <br>
    @Html.LabelFor(i => i.Email)
    @Html.TextBoxFor(i => i.Email, new { @class = "form-control" })
    @Html.ValidationMessage("Email", new { @class = "text-danger" })
    <br>

    <div style="text-align:right" display="flex">
        <input onclick="document.location.href='@Url.Content("~/Proyecto/BtnAgregarIntegrante")'" type="submit" class="btn btn-primary" value="Agregar" />
    </div>
}

