
@{
    ViewBag.Title = "BtnEditarIdea";
}

<h2>La idea de negocio se edito correctamente.</h2>
@using (Html.BeginForm())
{
    <body>

        <intput typeof="hidden" name="codigo" value="@Model.Codigo">
            <h1>Informacion de la idea de Negocio.</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Valor de inversion</th>
                        <th>Total de ingresos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Codigo</td>
                        <td>@Model.Nombre</td>
                        <td>@Model.ValorInversion</td>
                        <td>@Model.TotalIngresos</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Impacto</th>
                        <th>Departamentos</th>
                        <th>Herramientas de 4 R.I</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Impacto</td>
                        <td>
                            <ul class="list-group">
                                @foreach (var depto in Model.Departamentos)
                                {
                                    <li>@depto.Nombre</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul class="list-group">
                                @foreach (var herramienta in Model.Herramientas4RI)
                                {
                                    <li>@herramienta</li>
                                }
                            </ul>
                        </td>

                    </tr>
                </tbody>
            </table>
            <br>
            <h6>Integrantes</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre Completo</th>
                        <th>Rol</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var integrante in Model.Integrantes)
                    {
                        <tr>
                            <td>@integrante.Id</td>
                            <td>@integrante.Nombre @integrante.Apellidos</td>
                            <td>@integrante.Rol</td>
                            <td>@integrante.Email </td>

                        </tr>
                    }
                </tbody>
            </table>

    </body>
}
