@model Proyecto3MVC.Models.IdeaDeNegocio
@{
    ViewBag.Title = "BtnRegistrarIdea";
}


<body>
    <h2>BtnRegistrarIdea</h2>
    <h2>Codigo de la nueva idea: @Model.Codigo</h2>
    <h2>la idea @Model.Nombre se registro correctamente</h2>
    <div>
        <h3>Paciente registrado con éxito</h3>
        <form>

            <table>

                <tr>
                    <td><label>Codigo: @Model.Codigo </label></td>
                </tr>
                <tr>
                    <td><label>Nombre: @Model.Nombre</label></td>
                </tr>
                <tr>
                    <td><label>Apellidos: @Model.Impacto</label></td>
                </tr>
                <tr>
                    <td><label>Valor de inversion: @Model.ValorInversion.ToString()</label></td>
                </tr>
                <tr>
                    <td><label>Total de ingresos: @Model.TotalIngresos.ToString()</label></td>
                </tr>
            </table>
        </form>
    </div>
</body>

