@model Proyecto3MVC.Models.ViewModels.EditarIdeaDeNegocioViewModel
@{
    ViewBag.Title = "Editar Idea";
}

<h1>Editar Idea De Negocio</h1>
<p> Los campos autorizados para editar son: </p>
<br>

@using (Html.BeginForm("EditarIdea", "Proyecto", FormMethod.Post, new { role = "form", @class = "" }))
{
    @Html.HiddenFor(i => i.Codigo)
    @Html.AntiForgeryToken()

    @Html.ValidationMessage("Error", new { @class = "text-danger" })

    @Html.LabelFor(i => i.ValorInversion)
    @Html.TextBoxFor(i => i.ValorInversion, new { @class = "form-control" })
    @Html.ValidationMessage("ValorInversion", new { @class = "text-danger" })
    <br>
    @Html.LabelFor(i => i.TotalIngresos)
    @Html.TextBoxFor(i => i.TotalIngresos, new { @class = "form-control" })
    @Html.ValidationMessage("TotalIngresos", new { @class = "text-danger" })
    <br>
 
    <div style="text-align:right" display="flex">
        <input onclick="document.location.href='@Url.Content("~/Proyecto/EditarIdea"+Model.Codigo)'" type="submit" class="btn btn-primary" value="Confirmar" />
    </div>



}




