@model Proyecto3MVC.Models.IdeaDeNegocio
@{
    ViewBag.Title = "EliminarIntegrante";
}


@using (Html.BeginForm())
{
    <body>

        <h2>El integrante de la idea de negocio @Model.Nombre se elimino correctamente</h2>
        <br>
        @Html.ActionLink("Agregar integrante", "AgregarIntegrante", new { codigo = Model.Codigo }, new { @class = "btn btn-primary" })
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Valor de inversion</th>
                    <th>Total de ingresos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Codigo</td>
                    <td>@Model.Nombre</td>
                    <td>@Model.ValorInversion</td>
                    <td>@Model.TotalIngresos</td>
                </tr>
            </tbody>
            <br>
            <h6>Integrantes</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre Completo</th>
                        <th>Rol</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var integrante in Model.Integrantes)
                    {
                        <tr>
                            <td>@integrante.Id</td>
                            <td>@integrante.Nombre @integrante.Apellidos</td>
                            <td>@integrante.Rol</td>
                            <td>@integrante.Email </td>
                            <td>
                                @Html.ActionLink("Eliminar", "EliminarIntegrante", new { codigo = Model.Codigo }, new { @class = "btn btn-primary" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>



    </body>
}

