@model Proyecto3MVC.Models.ViewModels.IdeaDeNegocioViewModel
@{
    ViewBag.Title = "RegistrarIdeaDeNegocio";
}

<h1>Registrar Idea De Negocio</h1>
<p> Rellena todos los campos para registrar una nueva idea de negocio </p>
<br>


<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("RegistrarIdea", "Proyecto", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.ValidationMessage("Error", new { @class = "text-danger" })

            @Html.AntiForgeryToken()

            @Html.LabelFor(i => i.Nombre)
            @Html.TextBoxFor(i => i.Nombre, new { @class = "form-control" })
            @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
            <br>
            @Html.LabelFor(i => i.Impacto)
            @Html.TextBoxFor(i => i.Impacto, new { @class = "form-control" })
            @Html.ValidationMessage("Impacto", new { @class = "text-danger" })
            <br>
            @Html.LabelFor(i => i.Departamentos)
            @Html.TextBoxFor(i => i.Departamentos, new { @class = "form-control" })
            @Html.ValidationMessage("Departamentos", new { @class = "text-danger" })
            <br>
            @Html.LabelFor(i => i.ValorInversion)
            @Html.TextBoxFor(i => i.ValorInversion, new { @class = "form-control" })
            @Html.ValidationMessage("ValorInversion", new { @class = "text-danger" })
            <br>
            @Html.LabelFor(i => i.TotalIngresos)
            @Html.TextBoxFor(i => i.TotalIngresos, new { @class = "form-control" })
            @Html.ValidationMessage("TotalIngresos", new { @class = "text-danger" })
            <br>
            @Html.LabelFor(i => i.ValorInversionInfraestructura)
            @Html.TextBoxFor(i => i.ValorInversionInfraestructura, new { @class = "form-control" })
            @Html.ValidationMessage("ValorInversionInfraestructura", new { @class = "text-danger" })
            <br>
            @Html.LabelFor(i => i.Herramientas4RI)
            @Html.TextBoxFor(i => i.Herramientas4RI, new { @class = "form-control" })
            @Html.ValidationMessage("Herramientas4RI", new { @class = "text-danger" })
            <br>

            <div style="text-align:right">
                <input type="submit" class="btn btn-primary" value="Registrar" />
            </div>


        }

    </div>
         
      


</div>



